@use 'functions' as *;
@use 'mixins' as *;

.auth-form {
  @include stack;

  &__heading {
    @include stack(4);
  }

  &__title {
    margin: 0;
    font-size: var(--font-size-xl);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-display);
  }

  &__subtitle {
    margin: 0;
    font-size: var(--font-size-md);
    color: var(--color-text-secondary);
  }

  &__submit {
    width: 100%;
  }

  &__footer {
    margin: 0;
    font-size: var(--font-size-sm);
    text-align: center;
    color: var(--color-text-secondary);

    .text-link {
      font-weight: 600;
    }
  }
}
