$white: #fff;
$gray-25: #fafafa;
$gray-50: #f6f6f7;
$gray-100: #f0f0f2;
$gray-150: #ededef;
$gray-200: #e4e4e7;
$gray-300: #d1d1d6;
$gray-350: #c4c4cc;
$gray-400: #a1a1aa;
$gray-450: #8d8d96;
$gray-500: #6d6d77;
$gray-600: #5c5c66;
$gray-900: #18181b;

$green-focus: #2c9665;
$green-600: #1c6b4a;
$green-700: #165c3f;
$green-tint: #e6f2eb;
$green-tint-edge: #b9dbc8;
$green-tint-strong: #d9ecdf;

$red-600: #b42318;
$red-700: #941a11;
$red-tint: #fdeceb;
$red-tint-edge: #f0c8c4;

$badge-gray-bg: #f0f0f2;
$badge-gray-dot: #8d8d96;
$badge-gray-fg: #46464f;
$badge-red-bg: #fdeaea;
$badge-red-dot: #ca7878;
$badge-red-fg: #a02020;
$badge-orange-bg: #fbeddf;
$badge-orange-dot: #b78451;
$badge-orange-fg: #8a4a11;
$badge-yellow-bg: #fbf3d8;
$badge-yellow-dot: #a68c28;
$badge-yellow-fg: #6f5502;
$badge-green-bg: #e4f2e8;
$badge-green-dot: #629b74;
$badge-green-fg: #1e6b39;
$badge-teal-bg: #ddf0ee;
$badge-teal-dot: #569a93;
$badge-teal-fg: #0f645c;
$badge-blue-bg: #e5eefb;
$badge-blue-dot: #6a90c6;
$badge-blue-fg: #18509e;
$badge-indigo-bg: #e9e9fa;
$badge-indigo-dot: #8789c9;
$badge-indigo-fg: #3b3f9c;
$badge-purple-bg: #f1e9fa;
$badge-purple-dot: #a280c5;
$badge-purple-fg: #68339a;
$badge-pink-bg: #fce8f0;
$badge-pink-dot: #c47799;
$badge-pink-fg: #9a2b5e;
